

{% extends "base_aforos.html" %}
{% block head_title %} {{form.instance.pk}} || {{block.super}} {% endblock head_title %}


{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

{% load static %}
<img src="/static/resultados_2.png" alt="My image" height = "50" data-toggle="tooltip" title="Registro"/ srcset="/static/resultados.png" onmouseout="cambiarImagenSrcsetPorSrc(this)" onmouseover="cambiarImagenSrcsetPorSrc(this)">
{% if last_section %}
<a  href = "{{last_section.get_absolute_url}}" ><img src="/static/aforo_2.png" alt="My image" height = "50" data-toggle="tooltip" title="Aforo" srcset="/static/aforo.png" onmouseout="cambiarImagenSrcsetPorSrc(this)" onmouseover="cambiarImagenSrcsetPorSrc(this)"/></a>
{% else %}
<a  href = "{% url 'hidraulics:nueva-vertical'%}" ><img src="/static/aforo_2.png" alt="My image" height = "50" data-toggle="tooltip" title="Aforo" srcset="/static/aforo.png" onmouseout="cambiarImagenSrcsetPorSrc(this)" onmouseover="cambiarImagenSrcsetPorSrc(this)"/></a>
{% endif %}
{% if last_topo %}
<a  href = "{{last_topo.get_absolute_url}}" ><img src="/static/topo_2.png" alt="My image" height = "50" data-toggle="tooltip" title="Topo-batimetría" srcset="/static/topo.png" onmouseout="cambiarImagenSrcsetPorSrc(this)" onmouseover="cambiarImagenSrcsetPorSrc(this)"/>
</a>
{% else %}
<a  href = "{% url 'hidraulics:nueva-topo'%}" ><img src="/static/topo_2.png" alt="My image" height = "50" data-toggle="tooltip" title="Topo-batimetría" srcset="/static/topo.png" onmouseout="cambiarImagenSrcsetPorSrc(this)" onmouseover="cambiarImagenSrcsetPorSrc(this)"/>
</a>
{% endif %}
<hr/>

<a href="{% url 'hidraulics:transferir-topo' pk=item.pk %}"><i class="fa fa-exchange" style="font-size:30px" data-toggle="tooltip" title="transferir verticales de aforos a topo-batimetría"></i></a> <a href="{% url 'hidraulics:transferir-topo' pk=item.pk %}"><i class="fa fa-file-excel-o"  style="font-size:30px" data-toggle="tooltip" title="Descargar excel"></i>
<a href="{% url 'hidraulics:transferir-topo' pk=item.pk %}">  <i class="fa fa-picture-o" style="font-size:30px" data-toggle="tooltip" title="Fotos"></i></a></h4>
<a href="{% url 'hidraulics:transferir-topo' pk=item.pk %}">  <i class="fa fa-file-pdf-o" style="font-size:30px" data-toggle="tooltip" title="Resultados"></i></a></h4>

<h1>Nombre: {{item.item_fk.nombre}}<h1/>
<hr/>

{% include 'snippets/form-snippet.html' with form=form %}

<table>
<tr>
  <th>Caudal</th>
  <th>Velocidad Media</th>
  <th>Área Mojada</th>
  <th>Perímetro Mojado</th>
  <th>Radio Hidráulico</th>
</tr>
<tr>
  <th>{{item.caudal_total}}</th>
  <th>{{item.velocidad_promedio}}</th>
  <th>{{item.area_mojada}}</th>
  <th>{{item.perimetro_mojado}}</th>
  <th>{{item.radio_hidraulico}}</th>
</tr>

{% if image %}
<img src="{{image.document.url}}" alt="My image" height = "900" />
 <figcaption>{{image.description}}</figcaption>
{% endif %}
<hr/>

{% endblock %}
