<!DOCTYPE html>
<html lang=en>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<title>{% block head_title %} CPR {% endblock head_title %}</title>
{% include 'snippets/css.html' %}

<body>
</body>

{% include 'snippets/nav.html' %}

<div class = 'container'>

{% block content %}
<hr/>
{% endblock content %}

</div>

{% include 'snippets/js.html' %}

</head>
</html>
