<!doctype html>
<style>

.tooltip {
  position: absolute;
  text-align: center;
  width: 400px;
  height: 50px;
  padding: 0px;
  margin-top: 0px;
  background: white;
  color: white;
  font-weight: bold;
  font-size: 100;
  border-radius: 6px;
  pointer-events: none;
}

.line {
  fill: none;
  stroke: none;
}

.upperAxis line{
  stroke: red;
  display: none;
}

}
.upperAxis path{
  display: none;

}

</style>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'css.html' %}
  </head>
  <body>
    <div class='container-fluid'>
        {% include 'navbar.html' %}

        {% block content %}

        {% endblock content %}

    </div>

    {% include 'js.html' %}
  </body>
</html>
