{% extends "base.html" %}
{% block head_title %} {{title}} || {{block.super}} {% endblock head_title %}

{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


  .nav > li {
    float:left;
  }


  .nav li a:hover {
    background-color:#434343;
  }

  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }

  .nav li:hover > ul {
    display:block;
  }

  .nav li ul li {
    position:relative;
  }

  .nav li ul li ul {
    right:-140px;
    top:0px;
  }


</style>


{% include 'snippets/icons.html' %}


<form method = 'POST' role="form" class="form-horizontal">{% csrf_token %}



<div class="fieldWrapper" style="display: none;">
    {{ form.subject.errors }}
    <label for="{{ form.fk.id_for_label }}" id = "label_fk">id</label>
    {% if form.fk.value %}
    <input id={{form.fk.id_for_label}}" name= "{{ form.fk.html_name}}" value="{{form.fk.value}}""></p>
    {% else %}
    <input id={{form.fk.id_for_label}}" name= "{{ form.fk.html_name}}" value=""></p>
    {% endif %}
</div>

<div class="fieldWrapper">
    {{ form.subject.errors }}
    <label for="{{ form.vertical.id_for_label }}" id = "label_vertical">Vertical </label>
    {% if form.vertical.value %}
    <input id={{form.vertical.id_for_label}}" name= "{{ form.vertical.html_name}}" value={{form.vertical.value}}></p>
    {% else %}
    <input id={{form.vertical.id_for_label}}" name= "{{ form.vertical.html_name}}" value=""></p>
    {% endif %}
</div>

<div class="fieldWrapper">
    {{ form.subject.errors }}
    <label for="{{ form.x.id_for_label }}" id = "label_x">{{form.x.label_tag}}</label>
    {% if form.x.value %}
    <input id={{form.x.id_for_label}}" name= "{{ form.x.html_name}}" value={{form.x.value}}></p>
    {% else %}
    <input id={{form.x.id_for_label}}" name= "{{ form.x.html_name}}" value=""></p>
    {% endif %}
</div>

<div class="fieldWrapper">
    {{ form.subject.errors }}
    <label for="{{ form.y.id_for_label }}">{{form.y.label_tag}}</label>
    {% if form.y.value %}
    <input id={{form.y.id_for_label}}" name= "{{ form.y.html_name}}" value={{form.y.value}}></p>
    {% else %}
    <input id= {{form.y.id_for_label}} name= "{{ form.y.html_name}}" value="" onkeyup="showHint(this.value)"></p>
    {% endif %}
</div>

<div class="fieldWrapper">
    {{ form.subject.errors }}
    <label for="{{ form.v02.id_for_label }}" id = "label_v02">{{form.v02.label_tag}}</label>
    {% if form.v02.value %}
    <input id={{form.v02.id_for_label}}" name= "{{ form.v02.html_name}}" value={{form.v02.value}}></p>
    {% else %}
    <input id={{form.v02.id_for_label}}" name= "{{ form.v02.html_name}}" value=""></p>
    {% endif %}
</div>


<div class="fieldWrapper">
    {{ form.subject.errors }}
    <label for="{{ form.v04.id_for_label }}" id = "label_v04">{{form.v04.label_tag}}</label>
    {% if form.v04.value %}
    <input id={{form.v04.id_for_label}}" name= "{{ form.v04.html_name}}" value={{form.v04.value}}></p>
    {% else %}
    <input id={{form.v04.id_for_label}}" name= "{{ form.v04.html_name}}" value=""></p>
    {% endif %}
</div>


<div class="fieldWrapper">
    {{ form.subject.errors }}
    <label for="{{ form.v08.id_for_label }}" id = "label_v08">{{form.v08.label_tag}}</label>
    {% if form.v08.value %}
    <input id={{form.v08.id_for_label}}" name= "{{ form.v08.html_name}}" value={{form.v08.value}}></p>
    {% else %}
    <input id={{form.v08.id_for_label}}" name= "{{ form.v08.html_name}}" value=""></p>
    {% endif %}
</div>


<div class="fieldWrapper">
    {{ form.subject.errors }}
    {{form.vsup.label_tag}}{{form.vsup}}
</div>





<button type='submit' onclick = "return confirm('Se agregará un nuevo registro a la base de datos. Está seguro?')"  >Continuar</button>

<table id='tableData'>

{% if verticales %}

{% load static %}
<hr/>
<h4>Gráfica de la sección</h4>


{% if image %}
<img src="{{image.document.url}}" alt="My image" height = "200" />
{% endif %}
<h4>Tabla de resultados</h4>


<tr>
  <th>Vertical</th>
  <th>x</th>
  <th>y</th>
	<th>V02</th>
	<th>V04</th>
  <th>V08</th>
	<th>Vsup</th>
	<th>Vm</th>
	<th>Área</th>
	<th>Perímetro</th>
  <th>Caudal</th>
  <th>Borrar</th>
</tr>
{% for item in  verticales %}
	<tr>
		<td><a href = '{{item.get_absolute_url}}'>{{ item.vertical }}</a></td>
		<td>{{ item.x}}</td>
    <td>{{ item.y}}</td>
		<td>{{ item.v02}}</td>
		<td>{{ item.v04 }}</td>
    <td>{{ item.v08 }}</td>
    <td>{{ item.vsup }}</td>
    <td>{{ item.vm }}</td>
    <td>{{ item.area_i }}</td>
    <td>{{ item.perimetro_i}}</td>
		<td>{{ item.caudal_i}}</td>
    <td><a href="{% url 'hidraulics:borrar-vertical' pk=item.pk %}"><i class="fa fa-trash"></i></a></td>
{% endfor %}
{% endif%}
<script type="text/javascript" src="{% static 'main.js' %}"></script>
{% endblock content %}
