body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.chart-wrapper {
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top:10px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid lightgray;
  color: #0a202e;
  font-size: 14px;
  font-weight: 400;
  background: #f5f5f5;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  /*min-height: 240px;*/
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

.leaflet-container {
    height: 570px;
    width: 540px;
}


.tooltip {
  position: absolute;
  text-align: center;
  width: 400px;
  height: 50px;
  padding: 0px;
  margin-top: 0px;
  background: white;
  color: white;
  font-weight: bold;
  font-size: 100;
  border-radius: 6px;
  pointer-events: none;
}

.line {
  fill: none;
  stroke: none;
}

.axisRed line{
  stroke: red;
  display: none;
}

.axisRed path{
  display: none;

}
